/*--------------------ROOT--------------------*/
:root{
    --main-text-blue-color:  #347cdb;
    --main-text-black-color: #212121;
    --main-text-gray-color:  #757575;
    --main-text-white-color:  #ffffff;
   
    --master-button-color: #347cdb;
    --slave-button-color: #757575;
    
}

/*--------------------HEADER--------------------*/


/*----------------------------------*/
.header-link-active {
    font-family: Roboto;
    margin: 0; /* Отменяем отступы между ссылками */
    list-style: none; /* Отменяем List ссылками */
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: var(--main-text-blue-color);
}

.header-link-active:hover, .header-link-active:focus{
    font-family: Roboto;
    font-weight: 600
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-text-black-color);
  }



.header-link {
    font-family: Roboto;
    color: var(--main-text-gray-color);
    margin: 0;
    list-style: none;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.header-link:hover, .header-link:focus{
    font-family: Roboto;
    font-weight: 600
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-text-blue-color);
  }
/***/

.header-contact-link-mail {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;

    color: var(--main-text-gray-color);
}

.header-contact-link-mail:hover {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-blue-color);
}
.header-contact-link-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-gray-color);
}

/*--->Body<---*/
body {
    font-family: "Roboto", "sans-serif";

}

/*Disable list for "ul"*/
ul {
    list-style: none;
}

/*Button.*/
.button{
    font-family: inherit;
    font-weight: 600
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-text-white-color);
    background: var(--master-button-color);
}

.button:hover, .button:focus{
    font-family: inherit;
    font-weight: 600
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-text-white-color);
    background: var(--slave-button-color)
}


/*Hero*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    color: var(--main-text-blue-color);
}

.hero-title:hover, .hero-title:focus{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    color: var(--main-text-gray-color);
}


/*services*/

.services-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: var(--main-text-black-color);
        margin: 0;
}
    
.services-title:hover, .services-title:focus{
        font-weight: bold;
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: var(--main-text-blue-color);
        margin: 0;
}

.services-text{
        font-weight: 500;
        font-size: 16px;
        color: var(--main-text-gray-color);
        margin: 0;
}
 

/*what-we-do*/

.what-we-do-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-text-black-color);
    margin: 0;
}

.what-we-do-title:hover, .what-we-do-title:focus{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-text-blue-color);
    margin: 0;
}
/*our-team*/

.our-team-title {
    font-weight: bold;
    font-size: 36px;
    color:  var(--main-text-black-color);
    margin: 0;
}

.our-team-title:focus, .our-team-title:hover{
    font-weight: bold;
    font-size: 36px;
    color: var(--main-text-blue-color);
    margin: 0;
}

.our-team-text-h3{
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-black-color);
    margin: 0;
}

.our-team-text-h3:hover, .our-team-text-h3:focus{
        font-weight: 500;
        font-size: 16px;
        color: var(--main-text-blue-color);
        margin: 0;
    
}


.our-team-text-p{
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-gray-color);
    margin: 0;
 }

/*--->footer<---*/


.footer{
    position: center;
    background-color: var(--main-text-black-color);
}

.footer-logo{x
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2157px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-text-main{
    font-family: Raleway;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-white-color);
    text-decoration: none;
    }

.footer-text{
    font-family: Raleway;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-gray-color);
    text-decoration: none;
}


